# ==============================
# NODE MODULES
# ==============================
node_modules/

# ==============================
# ENV FILES (SECRETS)
# ==============================
.env
.env.local
.env.development
.env.test
.env.production

# ==============================
# LOG FILES
# ==============================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ==============================
# OS FILES
# ==============================
.DS_Store
Thumbs.db

# ==============================
# EDITOR / IDE
# ==============================
.vscode/
.idea/
*.swp
*.swo

# ==============================
# BUILD / CACHE
# ==============================
dist/
build/
.cache/
.next/
out/

# ==============================
# TEST COVERAGE
# ==============================
coverage/

# ==============================
# TEMP FILES
# ==============================
tmp/
temp/


# ==============================
# MONGODB DUMPS / BACKUPS
# ==============================
dump/
backups/

# ==============================
# SEED OUTPUT FILES
# ==============================
seed-output.json
